html,
body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

dialog {
  text-align: center;
}

canvas.fullscreen {
  z-index: 9 !important;

  width: 100vw;
  height: 100vh;
}

#suck-cam {
  position: fixed;
  /* Fixiert das Element relativ zum Browserfenster */
  bottom: 3%;
  /* Setzt das Element an den unteren Rand des Bildschirms */
  left: 61.8%;
  /* Positioniert das Element horizontal in der Mitte */
  transform: translateX(61.8%);
  /* Korrigiert die Position, damit es perfekt zentriert ist */
  z-index: 99 !important;
  width: 18%;
  height: 18%;

  /*background-color: rgba(0, 0, 0, 0.5);*/
}

p:nth-child(0) {
  top: 0;
}

p:nth-child(1) {
  top: 3.5%;
}



#label-invert-x {
  top: 8.9%;
}

#label-invert-y {
  top: 12.5%;
}

p, label{
  position: fixed;
  /* Fixiert das Element relativ zum Browserfenster */

  /* Setzt das Element an den unteren Rand des Bildschirms */
  left: 1%;
  /* Positioniert das Element horizontal in der Mitte */
  /*transform: translateX(-50%);*/
  /* Korrigiert die Position, damit es perfekt zentriert ist */
  z-index: 99 !important;
  /*width: 10%;*/

  background-color: rgba(255, 255, 255, 0.5);

  padding: 5px 7px
}

/* Definiere eine CSS-Variable f端r die Farbe des Fortschrittsbalkens */
:root {
  --progress-bar-color: orange;
  /* Standardfarbe (orange) */
}

#pawn-satiety-bar {
  position: fixed;
  /* Fixiert das Element relativ zum Browserfenster */
  bottom: 1%;
  /* Setzt das Element an den unteren Rand des Bildschirms */
  left: 50%;
  /* Positioniert das Element horizontal in der Mitte */
  transform: translateX(-50%);
  /* Korrigiert die Position, damit es perfekt zentriert ist */
  z-index: 99 !important;
  width: 18%;
  height: 2.25%;
}

#pawn-call-bar {
  position: fixed;
  /* Fixiert das Element relativ zum Browserfenster */
  bottom: 3%;
  /* Setzt das Element an den unteren Rand des Bildschirms */
  left: 50%;
  /* Positioniert das Element horizontal in der Mitte */
  transform: translateX(-50%);
  /* Korrigiert die Position, damit es perfekt zentriert ist */
  z-index: 99 !important;
  width: 18%;
  height: 2.25%;
}

#flipper-satiety-bar {
  position: fixed;
  /* Fixiert das Element relativ zum Browserfenster */
  bottom: 1%;
  /* Setzt das Element an den unteren Rand des Bildschirms */
  left: 61.8%;
  /* Positioniert das Element horizontal in der Mitte */
  transform: translateX(61.8%);
  /* Korrigiert die Position, damit es perfekt zentriert ist */
  z-index: 99 !important;
  width: 18%;
  height: 2.25%;
}

/* Hintergrund des Fortschrittsbalkens */
progress {
  background-color: lightgray;
  /* Standard Hintergrundfarbe */
  color: var(--progress-bar-color);
  /* Verwendet die dynamische Farbe */
}

/* Webkit-Spezifische Progressbar (f端r Chrome, Safari etc.) */
progress::-webkit-progress-bar {
  background-color: lightgray;
}

/* Webkit-Spezifische Progressbar-Wert (f端r Chrome, Safari etc.) */
progress::-webkit-progress-value {
  background-color: var(--progress-bar-color) !important;
  /* Verwendet die dynamische Farbe */
}

/* Mozilla-spezifische Progressbar (f端r Firefox) */
progress::-moz-progress-bar {
  background-color: var(--progress-bar-color) !important;
  /* Verwendet die dynamische Farbe */
}